<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Joseph Foti | Front End Development Blog</title>
  </head>
  <body>

    <div class="dev-wrapper">

      <% for (element of orderedElements) { %>

        <%- element %>

      <% } %>
      
    </div>

  </body>
</html>
