<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Joseph Foti | Portfolio</title>

    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/nav.css">

  </head>

  <body>

    <%- include partials/_nav.ejs %>

    <h1 class="title">My Work</h1>

    <%- include partials/_portfolio_items.ejs %>

    <div class="container-fluid about">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-8">
              <h2>About Me</h2>
              <p>Joseph Foti is a Front End Web Developer, practiced mainly with the PERN stack Developer, but also finds work as a Graphic Designer and Photographer. He graduated Cum Laude from Marist College, Florence Campus, with a BS in Digital Media. Joe has 8 years of photographic and artistic experience and 3 years of coding experience including 6 months at the New York Academy of Code and Design where he completed the Javascript Intensive. Joe grew up on the Lower East Side of New York City, but has also lived in Florence Italy and Cleveland Ohio. Joe is a traveler, a half-assed vegetarian, a story junkie, gamer, bassist, and binge-watcher.</p>
            </div>
            <div class="col-lg-4">
              <img src="./assets/about/Headshot.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>


  <%- include partials/_footer.ejs %>

  <footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

    <script type="text/javascript" src="./scripts/index.js"></script>
  </footer>


</html>
