body {
  margin: 0px;
  font-family: lato;
}

.page-title {
    font-family: lato;
    font-weight: 100;
    line-height: 45px;
    font-size: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    color: black;
    box-shadow: 0px 0px 1px 1px black;
}

.port-item {
  width: 25%;
  float: left;
  box-shadow: 0px 0px 10px 1px inset black;
  background: white;
  height: 25vw;
  background: #000000;
}

.portfolio-wrapper {
  width: 100vw;
  height: fit-content;
  clear: both;
}

img.port-image {
  width: 100%;
  opacity: 0.7;
  height: auto;
}

.logo {
  height: 70px;
  width: initial;
  margin-bottom: 10px;
  float: left;
}

nav {
  width: 98%;
  height: 80px;
  border-bottom: 1px solid #0000000d;
  margin: 0 1%;
}

.main {
  width: 100vw;
}

@media screen and (max-width:900px) {
  .port-item {
    width: 33.33%;
    height: 33.33vw;
    background: white;
  }
  .port-image {
    opacity: 1 !important;
  }
}
