<div class="footer-wrapper">

  <h3 class="contact-title">Contact Me</h3>

  <h6 class="contact-item"><strong>Email:</strong> joefotidesign@gmail.com</h6>
  <h6 class="contact-item"><strong>Cell:</strong> 917-608-6513</h6>

  <div class="socail-links-wraper">
    <a href="www.instagram.com">
    <img src="./assets/instagram.svg" class="social-link">
    </a>

    <a href="https://www.linkedin.com/in/joseph-foti/"><img src="./assets/linkedin.svg" class="social-link"/></a>

    <a href="https://github.com/JosephFoti">
    <img src="./assets/github.svg" class="social-link">
    </a>

  </div>

  <div class="admin-wrapper">
    <a class="shh" href="/admin">Admin</a>
  </div>

</div>

<style media="screen">

h6.contact-item {
  margin: 3px;
  font-size: 12px;
  text-align: center;
  font-weight: 100;
}

h3.contact-title {
  text-align: center;
  margin-top: 30px;
}

img.social-link {
  width: 25px;
  float: right;
  margin: 3px;
}

.socail-links-wraper {
  clear: both;
  overflow: auto;
  width: 100%;
}

.admin-wrapper {
  position: relative;
  bottom: 20px;
}

a.shh {
    text-decoration: none;
    color: #ffffff36;
    font-size: 10px;
}

.footer-wrapper {
    width: 100vw;
    margin-left: -20px;
    padding: 0px 30px;
    box-sizing: border-box;
    background-color: #577fa0;
    margin-top: 20px;
    margin-bottom: 0px;
}

body {
    margin: 8px 20px 0px;
}

.socail-links-wraper {
    margin-top: -30px;
}

h3.contact-title {
    padding-top: 20px;
    text-align: center;
    margin-top: 25px;
    color: white;
}

h6.contact-item {
    color: white;
}
</style>
