<div class="header">
  <nav>
    <img src="./assets/Logo-23.png" class="logo" alt="">
    <div class="title">
      <a href="/">Joseph Foti</a>
    </div>
    <div class="subtitle">
      web design // graphic design // photography
    </div>
  </nav>
</div>
<div class="main">
