<div class="portfolio-wrapper">

  <div class="port-container-main">

    <div class="outer">
      <div class="inner">
        <a href="/graphic-design">
          <img src="./assets/portItems-01.svg" alt="">
        </a>
      </div>
    </div>
    <div class="bkgAni"></div>

  </div>

  <div class="port-container">

    <div class="outer">
      <div class="inner">
        <a href="/portfolio/graphic-design">
          <img src="./assets/portItems-02.svg" class="portImg" alt="">
        </a>
      </div>
    </div>
    <div class="bkgAni"></div>

  </div>

  <div class="port-container">
    <div class="outer">
      <div class="inner">
        <a href="/portfolio/photography">
          <img src="./assets/portItems-04.svg" class="portImg" alt="">
        </a>
      </div>
    </div>
    <div class="bkgAni"></div>

  </div>

  <div class="port-container">
    <div class="outer">
      <div class="inner">
        <a href="/portfolio/front-end">
          <img src="./assets/portItems-03.svg" class="portImg" alt="">
        </a>
      </div>
    </div>
    <div class="bkgAni"></div>

  </div>


</div>
